.cloud{
    width:100%;
    margin: 0 auto;
    .cloud__content{
        width: 60%;
        margin: 0 auto;
        .cloud__title{
            padding-top: 40px;
            h2{
                @include styleText($color-black-14,$fs-6 + 4,$fw-5);
                position: relative;
                &::before{
                    display: block;
                    content: "";
                    background-image: url(../../img/blob-shape-small.svg);
                    background-repeat: no-repeat;
                    height: 100px;
                    width: 100px;
                    opacity: .25;
                    position: absolute;
                    left: -60px;   
                    top:-31px;
                }
            }
        }
        .cloud__info{
            padding: 20px 0;
            @include styleText($color-black-14,$fs-3 +1,$fw-normal);
        }
        .app-img{
            padding: 40px 0;
            img{
                width: 100%;
                display: block;
                border-radius: 10px;
            }
        }
    }
}
@include responsive("mid2-medium"){
    .cloud{
        .cloud__content{
            width: 90%;
            margin: 0 auto;
            .cloud__title{
                h2{
                    font-size: 1.875rem;
                }
            }
            
        }
    }
}